.speaker-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    align-items: center;
    gap: 10px;
}

.speaker-info img {
  vertical-align: middle;
  height: 40px; /* Adjust the height as needed */
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}
  
@media (max-width: 480px) {
  .speaker-image {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
}
  
